h2 Edit trip
form 
	label(for="destination") Destination:
	input(name="destination", ng-model="form.destination")
	label(for="month") Month:
	input(name="month", ng-model="form.month")
	label(for="year") Year:
	input(name="year", ng-model="form.year")
	button(ng-click="updateTrip()") Update Trip