extends layout

block body
  div.container
    div.row
      div(ng-view, class="col-8 offset-4 background rounded")
    div(id="push")
  div App Version: v.
    span(app-version)
    span Hello Everybody!