/* app css stylesheet */

html {
  /* This image will be displayed fullscreen */
  background:url('../img/background-mountain.jpg') no-repeat center center;

  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;

  /* The Magic */
  background-size:cover;
}

body{
  /* Workaround for some mobile browsers */
  min-height:100%;
  background-color: transparent;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

#push, footer {
  height: 100px;
}

.navbar {
  background-color: rgba(0,0,0,0.7);
}

.navbar-brand {
  color: rgb(255,255,255);
}

.rounded {
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.shadow {
  -moz-box-shadow: 5px 5px 5px #858585;
  -webkit-box-shadow: 5px 5px 5px #858585;
  box-shadow: 5px 5px 5px #858585;
}

.border {
  border: 1px solid #c8c8c8;
}

.background {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
}