.u-ptn, .u-pvn, .u-pan { padding-top:    0    !important; }
.u-pts, .u-pvs, .u-pas { padding-top:    5px  !important; }
.u-ptm, .u-pvm, .u-pam { padding-top:    10px !important; }
.u-ptl, .u-pvl, .u-pal { padding-top:    15px !important; }
.u-pth, .u-pvh, .u-pah { padding-top:    30px !important; }
.u-prn, .u-phn, .u-pan { padding-right:  0    !important; }
.u-prs, .u-phs, .u-pas { padding-right:  5px  !important; }
.u-prm, .u-phm, .u-pam { padding-right:  10px !important; }
.u-prl, .u-phl, .u-pal { padding-right:  15px !important; }
.u-prh, .u-phh, .u-pah { padding-right:  30px !important; }
.u-pbn, .u-pvn, .u-pan { padding-bottom: 0    !important; }
.u-pbs, .u-pvs, .u-pas { padding-bottom: 5px  !important; }
.u-pbm, .u-pvm, .u-pam { padding-bottom: 10px !important; }
.u-pbl, .u-pvl, .u-pal { padding-bottom: 15px !important; }
.u-pbh, .u-pvh, .u-pah { padding-bottom: 30px !important; }
.u-pln, .u-phn, .u-pan { padding-left:   0    !important; }
.u-pls, .u-phs, .u-pas { padding-left:   5px  !important; }
.u-plm, .u-phm, .u-pam { padding-left:   10px !important; }
.u-pll, .u-phl, .u-pal { padding-left:   15px !important; }
.u-plh, .u-phh, .u-pah { padding-left:   30px !important; }
.u-mtn, .u-mvn, .u-man { margin-top:     0    !important; }
.u-mts, .u-mvs, .u-mas { margin-top:     5px  !important; }
.u-mtm, .u-mvm, .u-mam { margin-top:     10px !important; }
.u-mtl, .u-mvl, .u-mal { margin-top:     15px !important; }
.u-mth, .u-mvh, .u-mah { margin-top:     30px !important; }
.u-mrn, .u-mhn, .u-man { margin-right:   0    !important; }
.u-mrs, .u-mhs, .u-mas { margin-right:   5px  !important; }
.u-mrm, .u-mhm, .u-mam { margin-right:   10px !important; }
.u-mrl, .u-mhl, .u-mal { margin-right:   15px !important; }
.u-mrh, .u-mhh, .u-mah { margin-right:   30px !important; }
.u-mbn, .u-mvn, .u-man { margin-bottom:  0    !important; }
.u-mbs, .u-mvs, .u-mas { margin-bottom:  5px  !important; }
.u-mbm, .u-mvm, .u-mam { margin-bottom:  10px !important; }
.u-mbl, .u-mvl, .u-mal { margin-bottom:  15px !important; }
.u-mbh, .u-mvh, .u-mah { margin-bottom:  30px !important; }
.u-mln, .u-mhn, .u-man { margin-left:    0    !important; }
.u-mls, .u-mhs, .u-mas { margin-left:    5px  !important; }
.u-mlm, .u-mhm, .u-mam { margin-left:    10px !important; }
.u-mll, .u-mhl, .u-mal { margin-left:    15px !important; }
.u-mlh, .u-mhh, .u-mah { margin-left:    30px !important; }